<?php
/**
 * Local configuration.
 *
 * Copy this file to `local.php` and change its settings as required.
 * `local.php` is ignored by git and safe to use for local and sensitive data like usernames and passwords.
 */

declare(strict_types=1);

return [
    'authentication' => [
        'redirect' => '/login',
        'non_authenticated_routes' => [
            'get.login',
            'post.login',
            'get.registration',
            'post.registration',
            'get.pre-registration',
            'post.pre-registration',
            'post.check-email',
        ]
    ],
];
